<mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
        <input formControlName="start" matStartDate placeholder="Start date">
        <input formControlName="end" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<button (click)="requestApod()" mat-raised-button>Submit</button>

<url-display [startDate]="dateRange.get('start')?.value" [endDate]="dateRange.get('end')?.value"></url-display>
